language: go

go:
  - "1.9"
  - "1.10"
  - "1.11"
  - "tip"

install:
  - gobuilder version -c ">=0.1.5" &>/dev/null || go get -u -v "github.com/tsaikd/gobuilder"

script:
  - gobuilder --all --check --test
